/*
    Colores para el front:
        -#041E42 azul oscuro
        -#00A3E0 azul claro
        -#E40046 rosa
        -#FFFFFF blanco
*/

*{
  box-sizing: border-box;
}

/*COLORES*/
.bg-azul-claro{
  background-color: #00A3E0 !important;
}

.bg-azul-oscuro{
  background-color: #041E42 !important;
}

.bg-rosa{
  background-color: #E40046 !important;
}

.bg-blanco{
  background-color: #FFFFFF !important;
}

.c-azul-oscuro{
  color: #041225 !important;
}

.c-azul-claro{
  color: #00A3E0 !important;
}

.c-rosa{
  color: #E40046 !important;
}

.c-blanco{
  color: #FFFFFF !important;
}

/*FIN DE COLORES*/

body{
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#logo{
  margin-left: 5em;
  width: 4em;
  height: 4em;
}

/*HEADER*/

header{
  box-shadow: 0px 10px 10px -6px #041225;
  position: sticky;
  top: 0;
  z-index: 5;
}

/*Links de redireccionamiento*/
#navbarNav{
  margin-right: 5em;
}

/*Botón hamburguesa*/

.navbar-toggler{
  width:20px;
  height:20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler, 
.navbar-toggler:focus, 
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span{
  margin: 0;
  padding: 0;
}

.toggler-icon{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #E40046;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25 ease-in-out;
}

.middle-bar{
  margin-top: 0px;
}

.navbar-toggler .top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar{
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
  margin-top: 20px;
  transform: rotate(0deg);
}

/*Fin de botón hamburguesa*/

/*-----------------------------------------------------------------------------------------*/
/*MAIN MAIN*/
/*-----------------------------------------------------------------------------------------*/

/*https://developer.mozilla.org/es/docs/Web/CSS/z-index*/
#navbar-inferior{
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.front-to-back{
  z-index: -1;
}

.login{
  font-size: large;
  font-weight: bold;
}

/*Efecto zoom imagen*/
/*https://www.youtube.com/watch?v=eZGHCRENcEk*/
.img-z{
  width: 20em;
  height: 12em;
}

.image{
  width: 100%;
}

figure{
  overflow: hidden;
  margin: 0 10px;
}

.image img{
  width: 20em;
  height: 12em;
  cursor: pointer;
}

.image #zoom-In img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.image #zoom-In:hover img{
  transform: scale(1.5);
}

/*-----------------------------------------------------------------------------------------*/
/*MAIN BLOG*/
/*-----------------------------------------------------------------------------------------*/

/*Entradas del blog*/
.container-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;          /*DISPLAY:FLEX + FLEX-WRAP: WRAP*/
                            /*TRUCO RESPONSIVE*/
}

.blog-card{
  width: 270px;
  margin: 10px;
  border-radius: 15px;
}

.card-image{
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.blog-card h6{
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.blog-card p{
  padding: 10px;
  text-align: center;
}

.blog-card a{
  padding: 15px 20px;
  display: block;
  text-align: center;
  text-align: center;
  margin: 20px 20px;
  text-decoration: none;
}

.blog-card:hover{
  background-color: #041225 !important;
  color: #00A3E0 !important;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.img-1{
  background-image: url('/public/images/galeria-valle-montaña.jpg');
}

.img-2{
  background-image: url('/public/images/galeria-senderismo.jpg');
}

.img-3{
  background-image: url('/public/images/galeria-aves.jpg');
}

.img-4{
  background-image: url('/public/images/galeria-castillo.jpg');
}

.titulo-blog{
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
}

/*fin de entradas al blog*/

.linea{
  position: relative;
  display: flex;
  width: 70%;
  margin: auto;
}

/*Carrusel*/

.c-item{
  height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter:brightness(0.9)
}

/*fin de carrousel*/
/*FOOTER*/

.footer{
  margin-top: auto;
  width: 100%;
}

